
.left{
  float: left;
}

.right{
  float: right;
}

.glyphicon{
  cursor: pointer;
}

.content-thumbnail {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}


.content-inner-thumbnail{
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}


.item-thumbnail{
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


.item-thumbnail img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.btn-icon {
  padding: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-icon:active,
.btn-icon:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.btn-icon:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-icon:focus {
  outline: 0 none !important;
}

.btn-icon .glyphicon {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.btn-icon .glyphicon-heart {
  color: #666666;
}
.btn-icon .glyphicon-heart:hover {
  color: rgba(102, 102, 102, 0.85);
}
.btn-icon .glyphicon-heart.active {
  color: #fe4365;
}
.btn-icon .glyphicon-heart.active:hover {
  color: rgba(254, 67, 101, 0.85);
}

@media (min-width: 960px) {
  .content-inner-thumbnail {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  .content-inner-thumbnail {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

